<div class="container">
  <div class="signUpCard">
    <form #signUpForm="ngForm">
      <h2 class="heading">Sign Up</h2>
      
      <label class="label">Email</label>
      <input type="email" name="email"
        placeholder="Enter your email address"
        [(ngModel)]="email" class="formInput"
        maxlength="60" required />

      <label class="label">Password</label>
      <input type="password" name="password"
        placeholder="Choose a password"
        [(ngModel)]="password" class="formInput"
        required />
      <label class="label">DisplayName</label>
      <input name="displayName"
        placeholder="Enter a display name"
        [(ngModel)]="displayName" class="formInput"
        maxlength="12" required />
      <button [disabled]="!signUpForm.form.valid"
          type="submit" (click)="signUp()"
          class="btn" id="btn-signUp">
          Sign Up
      </button>
      <label class="errorMsg" [(ngModel)]="errorMsg"></label>  
    </form>
          <button type="button" class="btn " (click)="tryFacebookLogin()">Register with Facebook</button>
          <button type="button" class="btn" (click)="tryGoogleLogin()">Register with Google</button>
          <button type="button" class="btn" (click)="tryTwitterLogin()">Register with Twitter</button>
          <p>Already have an account? <a href="/login">Login</a></p>
  </div>
</div>

<!-- <p>
  signup-form works!
</p>
-->
