<div class="container">
  <div class="signUpCard">
    <!-- <form #signUpForm="ngForm">-->
    <form [formGroup]="registerForm">
      <h2 class="heading">Sign Up</h2>
      
      <label class="label">Email</label>
      <!-- legacy binding [(ngModel)]="email"-->
      <input type="email" name="email"
        formControlName="email"
        placeholder="Enter your email address"
         class="formInput"
        maxlength="60" required />

      <label class="label">Password</label>
      <!-- legacy binding [(ngModel)]="password"-->
      <input type="password" name="password"
        placeholder="Choose a password"
        formControlName="password"
        class="formInput"
        required />
      <label class="label">DisplayName</label>
      <!-- legacy binding [(ngModel)]="displayName"-->
      <input name="displayName"
        placeholder="Enter a display name"
        formControlName="displayName"
        class="formInput"
        maxlength="12" required />
      <button [disabled]="!signUpForm.form.valid"
          type="submit" (click)="tryRegister()"
          class="btn" id="btn-signUp">
          Sign Up
      </button>
      <!-- legacy binding [(ngModel)]="errorMsg" -->
      <label class="errorMsg">{{errorMsg}}</label>
      <label class="success">{{successMsg}}</label>
    </form>
          <button type="button" class="btn " (click)="tryFacebookLogin()">Register with Facebook</button>
          <button type="button" class="btn" (click)="tryGoogleLogin()">Register with Google</button>
          <button type="button" class="btn" (click)="tryTwitterLogin()">Register with Twitter</button>
          <p>Already have an account? <a href="/login">Login</a></p>
  </div>
</div>

<!-- <p>
  signup-form works!
</p>
-->
