<div class="loginContainer">
  <div class="loginCard">
    <h2 class="loginHeading">Log In</h2>
    <form [formGroup]="loginForm">
      <!-- old binding  [(ngModel)]="email" -->
      <label class="label">Email</label>
      <input
      type="email"
      formControlName="email"
      name="email"
      class="loginFormInput"
      required/>
      <!-- old binding  [(ngModel)]="password"-->
      <label class="label">Password</label>
      <input
      type="password"
      formControlName="password"
      name="password"
      class="loginFormInput"
      required />
      <button class="btn"
              type="submit" 
              id="btn-login"
              (click)="tryLogin(loginForm.value)">
              Log In
      </button>

  
      <div class="rightItem">
        <label class="label infoField">No account yet?</label>
        <a class="label infoField" href="/signup">Create an account</a>
      </div>
      <!-- 
      <button type="button" class="btn" (click)="tryFacebookLogin()">Login with Facebook</button>
      <button type="button" class="btn" (click)="tryGoogleLogin()">Login with Google</button>
      <button type="button" class="btn" (click)="tryTwitterLogin()">Login with Twitter</button>
      -->
      <!-- nnModel cannot be used in a form-->
      <!--<label class="errorMsg" [(ngModel)]="errorMsg"></label> -->
      <label class="errorMsg">{{ errorMsg }}</label>
    </form>
  </div>
</div>