<div class="loginContainer">
  <div class="loginCard">
    <h2 class="loginHeading">Log In</h2>
    <input [(ngModel)]="email"
    type="email"
    name="email"
    class="loginFormInput"
    required/>
    <input [(ngModel)]="password"
    type="password"
    name="password"
    class="loginFormInput"
    required />
   <button class="btn"
            type="submit" 
            id="btn-login"
            (click)="login()">
            Log In
    </button>
   <label class="errorMsg" [(ngModel)]="errorMsg"></label>
  </div>
</div>