<div class="navBar">
 <div id="logo"></div>
  <div id="heading"><a routerLink="/">basechat</a></div>
  <div class="links">
    <div *ngIf="(user | async); else notLoggedIn">
          <span>
            <a href='/user' id="userEmail">Hello {{userEmail}}</a>
            </span>
            <span>
              <a href='#' (click)="logout()">Logout</a>
            </span>
    </div>
    <ng-template  #notLoggedIn>
          <span>
              <a href="#" (click)="login()">Login</a>
            </span>
            <span>
              <a routerLink="/signup">Sign Up</a>
            </span>
      </ng-template>
  </div>
</div>